body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo\ 1.jpg) no-repeat center top;
    background-size: cover;

    font-family: sans-serif;
    height: 100vh;
}
.Contenedor{
    width: 320px;
    height: 420px;
   background: rgba(0, 0, 0, 0.774);
   color: #fff;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 70px 30px;
}
.Contenedor .logos {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -33%;
    left: calc(45% - 80px);
}
.Contenedor label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}
.Contenedor h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
}

.Contenedor input {
    width: 100%;
    margin-bottom: 20px;
}

.Contenedor input[type="text"],
.Contenedor input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent ;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.Contenedor input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:#d44038 ;
    color:#66070a;
    font-size: 22px;
    border-radius: 20px;
}

.Contenedor a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;

}
.Contenedor a:hover{
    color: #d44038;
}